<h1>New Keg</h1>
<div>
 <label>Keg Name:</label>
 <input #newName>
</div>
<div>
  <label>Keg Brand:</label>
    <input #newBrand>
  </div>
  <div>
    <label>Keg Price:</label>
    <input #newPrice>
    </div>
<div>
  <label>Keg Alcohol Content:</label>
  <input #newAlcohol>
  <button (click)="submitForm(newName.value, newBrand.value, newPrice.value, newAlcohol.value); newName.value=''; newBrand.value=''; newPrice.value=''; newAlcohol.value='';">Add</button>
</div>

<!-- <tr>
  <td><input #newBrand placeholder="Brewery"><input #newName placeholder="Name"></td>
  <td><input #newPrice placeholder="Price"></td>
  <td><input #newAlcohol placeholder="ABV"></td>
  <td></td>
  <td><button (click)="submitForm(newName.value, newBrand.value, newPrice.value, newAlcohol.value); newName.value=''; newBrand.value=''; newPrice.value=''; newAlcohol.value='';">Add</button></td>
</tr> -->