<select (change)='onPintsChange($event.target.value)'>
  <option value='allKegs'>All kegs</option>
  <option value='Less than 10'>Less than 10</option>
</select>

<ul>
  <li *ngFor='let currentKeg of childKegList | pints:filterByPintsLeft'>{{currentKeg.brand}} {{currentKeg.name}} ${{currentKeg.price}} {{currentKeg.alcoholContent}}% {{currentKeg.level}} pints remaining
    <button (click)="sellButtonClicked(currentKeg)">Sell pint</button>
    <button (click)="editButtonClicked(currentKeg)">Edit</button>
  </li>
  </ul>
